<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:andriod="http://schemas.android.com/apk/res-auto"
    package="com.example.hisabhkitabh">

<uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/wallet"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        >


        <activity
            android:name="com.example.hisabhkitabh.activity.HomeActivity"
            android:label="@string/app_name"
                    android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

        <activity android:name="com.example.hisabhkitabh.activity.SignInActivity">

            </activity>

        <activity android:name="com.example.hisabhkitabh.activity.NewTransactionActivity">

            <intent-filter>
                <action android:name="com.example.hisabhkitabh.action.ADD_TRANSACTION"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <meta-data android:name="android.app.default_searchable"
                android:value="com.example.hisabhkitabh.activity.SearchableActivity" />

        </activity>

        <service android:name=".Service.SignInDetailsService" android:exported="false"/>

        <receiver android:name=".Receiver.ResponseReceiver">
            <intent-filter >
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="com.example.hisabhkitabh.Receiver.BROADCAST_ACTION"/>
            </intent-filter>

        </receiver>

    </application>

</manifest>
